<!DOCTYPE html>
<html lang="ro">

<head>

    <%- include("../fragmente/head.ejs")%>
        <meta name="keywords" content="Lego, Noriel, Jucarii,Carti, ">
        <meta name="description"
            content="Magazin de jucarii, masinute, papusi. Transport Gratuit la comenzi de peste 50 de lei.">
</head>

<body>
    <%- include("../fragmente/header.ejs")%>
        <main>
            <div id="picture_about">
                <picture>
                    <img src="./resurse/imagini/about/fundal.jpg">
                </picture>
            </div>
            <div id="grid-pagina-about">
                <section id="De_ce_noi">
                    <h2>De ce noi?</h2>
                    <p>
                        Noi avem cele mai de calitate produse din lume si suntem cei mai smecheri!
                    </p>

                </section>
                <div id="picture_about1">
                    <picture>
                        <img src="./resurse/imagini/about/personaj1.png">
                    </picture>
                </div>

                <section id="furnizor">
                    <h2>De ce un singur furnizor?</h2>
                    <p>Devenind unic furnizor/furnizor principal pentru companii, putem oferi acestor entitati resursele
                        necesare pentru dezvoltare:
                        </br>
                        – timp (prin scutirea procedurii de ofertare multipla) -> Ne trimit noua cererea/solicitarea
                        integrala de produse si servicii necesare, iar noi furnizam integral toate produsele/serviciile;
                        </br>
                        – bani (prin oferirea unor termene de plata relaxate 30-90 de zile) -> Prin subsidiara noastra,
                        Gefex Capital, putem acorda termene de plata relaxate si preluari de costuri pentru companii
                        partenere de pana la 125 mil. eur.;
                        </br>
                        – dezvoltare (prin plasarea persoanelor necesare in businessul acestora) -> Cu ajutorul
                        serviciului nostru de plasare a fortei de munca, putem completa organigramele companiilor cu
                        persoanele adecvate/necesare;
                    </p>
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs")%>
</body>

</html>