body.day {

    --portocaliu: #E07846;
    --bleu: #6CC7E0;
    --galben: #f7d630;
    --galben-deschis: #fff5ad;
    --verde-inchis: #146635;
    --negru: black;
    --albastru: #3055b5;
    --gri: rgb(192 192 192);
    --portocal: rgb(246 167 8);
    --spatiere: 35px;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}

body.dark {

    --portocaliu: #441a06;
    --bleu: #27849e;
    --galben: #f9f90f;
    --galben-deschis: #f0da2f;
    --verde-inchis: #0d4824;
    --negru: black;
    --albastru: #19398a;
    --gri: rgb(107, 106, 106);
    --portocal: rgb(134, 91, 5);
    background-color: var(--gri);
    --spatiere: 35px;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}

body.sakura {

    --portocaliu: #E07846;
    --bleu: #6CC7E0;
    --galben: #ff0066;
    --galben-deschis: #f984b3;
    --verde-inchis: #146635;
    --negru: black;
    --albastru: #2bab00;
    --gri: rgb(192 192 192);
    --portocal: rgb(246 167 8);
    --back_sakura: #ff0066;
    background-image: url(/resurse/imagini/background/sakura.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    --spatiere: 35px;
    padding-left: var(--spatiere);
    padding-right: var(--spatiere);
}


@media screen and (max-width:1200px) {
    body {
        padding-left: var(--spatiere1);
        padding-right: var(--spatiere1);
    }


}

@media screen and (max-width:700px) {
    body {
        padding-left: var(--spatiere2);
        padding-right: var(--spatiere2);
    }


}




#link-top {
    position: fixed;
    bottom: 0.9em;
    opacity: 0.5;
    left: 1em;
    width: 3rem;
    box-sizing: border-box;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border: 5px solid var(--albastru);
    background: var(--galben-deschis);
    box-shadow: 0px 0px 5px 2px var(--negru);
    transform: rotate(45deg);
    transition: all 600ms linear;

}

#link-top:hover {

    opacity: 1;
    background: var(--gri);
    transition: all 600ms linear;

}

#triunghi {
    height: 0px;
    width: 0;
    display: inline-block;

    border-bottom: 1.5rem solid var(--gri);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    vertical-align: center;
    transform: translateX(-6%) rotate(-45deg) scale(0.9) translateY(-10%);
    transition: all 600ms linear;


}

#link-top:hover>#triunghi {
    border-bottom: 1.5rem solid var(--negru);


}

li::marker {
    content: none;
}

#tab-orar thead {
    border: 5px solid var(--negru);
}

#tab-orar tr:hover {
    background-color: var(--gri);
    font-size: 110%;
    transition: all 0.75s linear;
}

#tab-orar th,
#tab-orar td {
    border: 3px solid var(--negru);
    padding: 3px;
}

#tab-orar {
    border-spacing: 0px;
    border-collapse: collapse;
    /* width: 300px; */
}

#tab-orar th:nth-child(2n+1) {
    background-color: var(--galben);
}

#tab-orar th:nth-child(2n) {
    background-color: var(--portocal);
}

#tab-orar tbody tr:nth-child(2n) {
    box-shadow: 0px 0px 3px 3px var(--albastru) inset;
}

#tab-orar tbody tr:nth-child(2n+1) {
    box-shadow: 0px 0px 3px 3px var(--galben) inset;
}

.container-iframe {
    display: flex;
    flex-direction: column-reverse;


}

#ifr-video {
    border: 5px solid var(--galben-deschis);
    height: 150px;
    width: 350px;

}

.container-iframe iframe {
    width: 25%;

}

.taburi-iframe {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-between;

}

.calcul,
.numere {

    color: var(--bleu);

}

.calcul,
.operator {
    color: var(--portocaliu);

}

.calcul,
.procent {
    color: var(--galben);

}

.calcul,
.egal {
    color: var(--gri);

}


.taburi-iframe>a {
    display: flexbox;
    height: auto;
    width: 75px;
    height: 2em;
    border-left: 1px solid var(--negru);
    border-right: 1px solid var(--negru);
    border-bottom: 1px solid var(--negru);
    background-color: var(--galben-deschis);
    padding: 0.4em;
    text-decoration: none;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    font-size: 50%;
    transition: all 600ms linear;
}

#iframe1:hover,
#iframe2:hover,
#iframe3:hover {
    background-color: var(--galben);
    color: var(--galben-deschis);
    box-shadow: 0px 0px 3px 3px var(--galben-deschis);
    transition: all 600ms linear;
}





#Titlu {
    font-size: 200%;
    padding: 15px;
    margin: 2em;
    text-align: center;
    color: var(--galben-deschis);
}


.taburi-iframe>a:last-child {
    margin-bottom: 0;
    margin-right: 10px;
}


footer {
    margin-top: 10px;
    border-width: 3px var(--gri);
    border-radius: 2%;
    box-shadow: 0px 0px 20px 2px var(--portocaliu);
    /* background: linear-gradient(0deg, var(--portocal) 0%, var(--galben) 100%); */
    background-color: var(--albastru);
}

::cue {
    background: var(--galben);
    font-style: italic;
    color: var(--negru);
}


#fig1 {
    width: 350px;

}

#loc {
    width: 350px;

}

#videoVTT {
    width: 300px;
}



@media screen and (max-width: 1200px) {


    #fig1 {
        width: 300px;
    }

    #loc {
        width: 300px;
    }

    #ifr-video {
        width: 300px;
    }

    #videoVTT {
        width: 80%px;
    }

    #container-duotone img {
        width: 80%;
    }


}

@media screen and (max-width: 700px) {

    #fig1 {
        width: 70%;
    }

    #ifr-video {
        width: 70%;
    }

    #loc {
        width: 70%;

    }

    #videoVTT {
        width: 70%;
    }

    #container-duotone img {
        width: 50%;
    }



}

a[href^="http"]::before {
    content: "\2BB3";
    width: 1.5em;
    height: 1.5em;
    color: var(--gri);
}

.linkuri {
    color: var(--portocaliu);
    background-image: radial-gradient(circle, var(--galben) 10%, var(--portocaliu) 40%, transparent 80%, transparent 10%);
    background-position: center;
    transition: background-size 6s;

}

#linkuri {
    padding-left: 10px;
}

a:active {
    border: 4px solid var(--negru);
}

footer a {
    background: radial-gradient(transparent, 40%, transparent 80%);
    background-position: center !important;
    background-size: 0%;
    background-repeat: no-repeat !important;
    transition: all 1s linear;
}

footer a:hover {
    background: radial-gradient(var(--portocaliu)40%, transparent 80%);
    background-size: 100%;
    transition: all 1s linear;
}

hr {
    display: block;
    height: 1em;
    border: 0px;
    background: linear-gradient(45deg, var(--portocaliu) 0%, var(--portocaliu)25%, transparent 25%, transparent 30%, var(--portocaliu) 30%, var(--portocaliu)75%, transparent 75%, transparent 80%, var(--portocaliu) 80%, var(--portocaliu)100%);
    background-repeat: repeat;

}

#final {
    color: var(--gri);
    padding-left: 10px;
}


#container-duotone {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#container-duotone img {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 2s linear;

}

#container-duotone::before,
#container-duotone::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    transition: transform 2s linear;

}

#container-duotone:hover::before,
#container-duotone:hover::after {
    transform: translateX(0%);
}

#container-duotone::after {
    background-color: var(--galben);
    transform: translateX(-100%);
}

#container-duotone::before {
    background-color: var(--albastru);
    transform: translateX(100%);
}

#text-reflectat {
    position: relative;
    transform-origin: 0 0;
    z-index: 1;
    transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(16px, 8px);
    mask-image: repeating-radial-gradient(var(--gri) 40%, transparent);
    mask-size: 30% 30%;
    overflow: hidden;

}


#text-reflectat:hover {
    overflow: hidden;
    animation: wave 0.5s infinite linear;

}



@keyframes wave {
    0% {
        mask-image: repeating-radial-gradient(var(--gri) 0%, transparent);
        mask-size: 30% 30%;
    }

    20% {
        mask-image: repeating-radial-gradient(var(--gri) 10%, transparent);
        mask-size: 30% 30%;
    }

    40% {
        mask-image: repeating-radial-gradient(var(--gri) 20%, transparent);
        mask-size: 30% 30%;
    }

    60% {
        mask-image: repeating-radial-gradient(var(--gri) 30%, transparent);
        mask-size: 30% 30%;
    }

    80% {
        mask-image: repeating-radial-gradient(var(--gri) 40%, transparent);
        mask-size: 30% 30%;
    }

    100% {
        mask-image: repeating-radial-gradient(var(--gri) 50%, transparent);
        mask-size: 30% 30%;
    }
}


#picture_about {
    background-size: 90%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

#picture_about img {
    width: 99%;
    height: auto;
}

#picture_about1 {
    background-size: 100%;

    background-repeat: no-repeat;
    width: 100%;
}



#produsuri {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--negru);

}

.form-range::-webkit-slider-runnable-track {
    background-color: var(--portocaliu);
    border-radius: 5px;
    height: 0.7em;
}

.form-range::-webkit-slider-thumb {
    width: 1.5em;
    height: 1.5em;
}

#text1 {
    margin: 0px;
}