<footer>
    <p id="banner">Acesta e un proiect scolar<button id="ok_cookies">Accepta cookies</button></p>
    <div id="linkuri">
        <a href="#" title="home" id="link-top">
            <div id="triunghi"></div>mergi sus
        </a>
        <div id="triunghiuri"></div>
        <a href="http://www.google.com" target="_blank">Google
            <br />
            <a href="./resurse/imagini/termeni.pdf" download="Termeni si condiții">Termeni si condiții</a>
            <address>
                <a href="mailto:lupesionut77@gmail.com">Mail Jucarioare.com </a><i class="fa-solid fa-envelope"
                    style="color:  rgb(192 192 192);"></i>
                <br />
                <a href="tel:+40770999987"> Telefon Jucarioare.com</a><i class="fa-solid fa-phone fa-beat"
                    style="color:  rgb(192 192 192);"></i>

                <br />
                <a href=" https://wa.me/+40770999987" title="Home" target="_blank">Whatsapp Jucarioare.com
                </a><i class="fa-brands fa-whatsapp" style=" color: rgb(192 192 192);"></i>
                <br />
    </div>
    <iframe id="loc" name="harta" width="560" height="315"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8841143984164!2d26.09701177537604!3d44.435539301482926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2sro!4v1710117201106!5m2!1sro!2sro"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </address>
    <br />
    <div id="final">
        Strada Jucărioarelor nr 23 București
        <p><small>Copyright &copy; <time datetime="2012-10-18">18 oct 2012</time></small></p>
        <p id="end">Acesta este un proiect școlar!</p>
    </div>
</footer>